.form-search {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6em;
}

.select {
    padding: 1em;
    background-color: #007FFF;
    height: 6em;
}

.select-label {
    margin: .2em;
    color: #ffffff;
}

.movie-tiles {
    background: #cccccc;
    position: absolute;
    height: calc(100vh - 6em);
    padding: .5em 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
}

.movie-details {
    background-color: #eeeeee;
    position: absolute;
    height: calc(100vh - 6em);
    padding: 1em;
    bottom: 0;
    right: 0;
}